{{- $hasStructuredIcons := or .Site.Params.faviconSVG .Site.Params.faviconPNG .Site.Params.appleTouchIcon .Site.Params.webmanifest -}}

{{- with .Site.Params.faviconSVG -}}
    {{- $href := . | relURL -}}
    {{- with resources.Get . -}}{{- $href = .RelPermalink -}}{{- end -}}
    <link rel="icon" type="image/svg+xml" href="{{ $href }}">
{{- end -}}

{{- with .Site.Params.faviconPNG -}}
    {{- $href := . | relURL -}}
    {{- with resources.Get . -}}{{- $href = .RelPermalink -}}{{- end -}}
    <link rel="icon" type="image/png" href="{{ $href }}">
{{- end -}}

{{- with .Site.Params.appleTouchIcon -}}
    {{- $href := . | relURL -}}
    {{- with resources.Get . -}}{{- $href = .RelPermalink -}}{{- end -}}
    <link rel="apple-touch-icon" href="{{ $href }}">
{{- end -}}

{{- with .Site.Params.webmanifest -}}
    <link rel="manifest" href="{{ . | relURL }}">
{{- end -}}

{{- if not $hasStructuredIcons -}}
    {{- /* favicon: empty/unset = theme default, "none" = disabled, or custom path */ -}}
    {{- $faviconPath := default "img/favicon.svg" .Site.Params.favicon -}}
    {{- if ne $faviconPath "none" -}}
        {{- $favicon := partial "helper/image" (dict "Image" $faviconPath "Resources" resources "Context" .) -}}
        {{- with $favicon.Permalink -}}
            <link rel="icon" type="image/svg+xml" sizes="any" href="{{ . }}">
        {{- end -}}
    {{- end -}}
{{- end -}}
