{{- $context := .Context -}}
{{- $scope := default "" .Scope -}}
{{- $widgets := partial "widget/resolve.html" (dict "Page" $context "Scope" $scope) -}}

{{- with $widgets -}}
<aside class="sidebar widget-sidebar sticky" aria-label="{{ T `sidebar.widgets` }}">
    {{- range . -}}
        {{- if eq .type "search" -}}
        <div class="widget-search">
            {{ partial "search/form.html" (dict "Page" $context "Compact" false) }}
        </div>
        {{- else -}}
        {{ partial (printf "widget/%s" .type) (dict "Context" $context "Params" .params) }}
        {{- end -}}
    {{- end -}}
</aside>
{{- end -}}
