{{- $copyright := .Site.Params.footer.customText -}}
{{- $since := .Site.Params.footer.since -}}
<footer class="site-footer">
    <section class="copyright">
        {{ if and $since (ne $since (int (now.Format "2006"))) }}
            {{ $since }} - 
        {{ end }}
        &copy; {{ now.Format "2006" }} <a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
    </section>
    {{ with $copyright }}
    <section class="powerby">
        {{ . | markdownify }}
    </section>
    {{ end }}
    {{ with T "footer.motto" }}
    <section class="powerby footer-motto">
        {{ . }}
    </section>
    {{ end }}
</footer>
