{{ define "body-class" }}
    article-page
    {{/* 
        Enable the widget sidebar if
            - Widget different from 'TOC' is enabled
            - TOC is enabled and not empty
    */}}
    {{- $TOCWidgetEnabled := false -}}
    {{- range .Site.Params.widgets.page -}}
        {{- if eq .type "toc" -}}
            {{ $TOCWidgetEnabled = true -}}
        {{- end -}}
    {{- end -}}

    {{- $TOCEnabled := and (default .Site.Params.article.toc .Params.toc) $TOCWidgetEnabled -}}
    {{- $hasTOC := ge (len .TableOfContents) 100 -}}
    {{- .Scratch.Set "TOCEnabled" (and $TOCEnabled $hasTOC) -}}
    
    {{- .Scratch.Set "hasWidget" (partial "helper/has-widget.html" .) -}}
{{ end }}

{{ define "main" }}
    {{ partial "article/article.html" . }}

    {{ if .Params.links }}
        {{ partial "article/components/links" . }}
    {{ end }}

    {{ partial "article/components/related-content" . }}
     
    {{ if and .Site.Params.comments.enabled (not (eq .Params.comments false)) }}
        {{ partial "extensions/comments.html" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}

{{ end }}

{{ define "widget-sidebar" }}
    {{ if .Scratch.Get "hasWidget" }}{{ partial "sidebar/widgets.html" (dict "Context" . "Scope" "page") }}{{ end }}
{{ end }}
