{{- $destination := .Destination -}}
{{- $external := or (strings.HasPrefix $destination "http://") (strings.HasPrefix $destination "https://") -}}
{{- $scheme := urls.Parse $destination -}}
{{- $allowed := or (eq $scheme.Scheme "") (eq $scheme.Scheme "http") (eq $scheme.Scheme "https") (eq $scheme.Scheme "mailto") -}}
{{- if not $allowed -}}
    {{- $destination = "#" -}}
{{- else if not $external -}}
  {{- with .Page.Resources.Get $destination -}}
    {{- $destination = .RelPermalink -}}
  {{- end -}}
{{- end -}}
<a class="link" href="{{ $destination }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if and $external $allowed }} target="_blank" rel="noopener noreferrer"{{ end }}>{{ .Text | safeHTML }}</a>
