/*
*   Style: monokai
*   https://xyproto.github.io/splash/docs/monokai.html
*/

$color: #f8f8f2;
$background-color: #272822;
$line-number-color: #a9a9a0;
$pink-color: #ff80a0;
$purple-color: #c09aff;
$comment-color: #b8b39f;
$highlight-background: #30363a;
$error-color: #ff5c8a;
$keyword-color: #66d9ef;
$text-color: $color;
$name-color: #a6e22e;
$literal-color: #e6db74;

@import "common.scss";
