/*
*   Style: monokailight
*   https://xyproto.github.io/splash/docs/monokailight.html
*/

$color: #272822;
$background-color: #fafafa;
$line-number-color: #5f6368;
$pink-color: #c0004f;
$purple-color: #6840a0;
$comment-color: #5f6368;
$highlight-background: #eef1f3;
$error-color: #960050;
$keyword-color: #006d80;
$text-color: #272822;
$name-color: #3f7a00;
$literal-color: #9a5800;

@import "common.scss";
